{% extends 'base.html.twig' %}

{% block title %}Cabinet index{% endblock %}

{% block body %}
    <h1>Cabinets</h1>

        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IpAddress</th>
                <th>DrawerCount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cabinet in cabinets %}
            <tr>
                <td>{{ cabinet.id }}</td>
                <td>{{ cabinet.name }}</td>
                <td>{{ cabinet.ipAddress }}</td>
                <td>{{ cabinet.drawerCount }}</td>
                <td>
                    <a href="{{ path('app_cabinet_show', {'id': cabinet.id}) }}" class="btn btn-sm btn-primary">
                        Show
                    </a>
                    <a href="{{ path('app_cabinet_edit', {'id': cabinet.id}) }}" class="btn btn-sm btn-secondary">
                        Edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            let table = $('#example').DataTable({});

            $('#table-search').on('keyup', function () {
                table.search(this.value).draw();
            });
        });
    </script>

    <a href="{{ path('app_cabinet_new') }}" class="btn btn-sm btn-secondary">
        Create New
    </a>
{% endblock %}
